<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>nesha ❤️</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Short+Stack&family=Homemade+Apple&display=swap">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="paper heart">
  </div>
  <div class="paper image">
    <p> Happy birthday</p>
      <p>Nila🌙 </p>
      <img src="{{ url_for('static', filename='img/pic2.jpeg') }}" />
  </div>
  <!-- <div class="paper image">
    <p</p>
    
    <img src="{{ url_for('static', filename='img/moon.jpeg') }}" />
  </div> -->
  <div class="paper image">
    <p>How can someone </p>
     <p>be this cute❤️</p>
    <!-- <img src="https://iili.io/HSzXyXa.jpg" /> -->
    <img src="{{ url_for('static', filename='img/pic1.JPG') }}" />

  </div>
  <div class="paper red">
  <p class="p1"> But guess what ?</p>
  <p class="p2">i've found something</p>
  <p class="p2"> more beautiful!!</p>
  </div>
  <div class="paper">
  <p class="p1">"The moon is beautiful,</p>
    <p class="p1">isn't it?" <span style="color: red !important;">❤️</span></p>
  </div>

  <div class="paper image">
    <p</p>
    
    <img src="{{ url_for('static', filename='img/moon.jpeg') }}" />
  </div>
  <div class="paper">
  <p class="p1">Drag it to know it !</p>
  </div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
